@import "../../styles/root";
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &__title {
    margin: 16px;
    font-size: 20px;
    color: $accent-color;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
  }

  &__done {
    background-color: $complete-color !important;
    color: $primary-color !important;
  }

  &__not-done {
    background-color: $incomplete-color !important;
    color: $secondary-color !important;
  }

  &__button {
    background-color: $complete-color !important;
    color: $primary-color !important;

    &:hover {
      background-color: $delete-color !important;
      color: $secondary-color !important;
    }
  }
}
