@import '../../styles/root';
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    margin: 16px;
    font-size: 20px;
    color:$accent-color
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  &__done {
    background-color: $complete-color !important;
    color: $accent-color !important;
  }
  
  &__not-done {
    background-color: $incomplete-color !important;
    color: $accent-color !important;
  }
}
