
.app-header {
  margin-bottom: 8px;
  padding:10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ddd;
  box-shadow: 1px 1px 5px #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
