@import "../../styles/root";

.app-todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  

  &__button {
    margin: 8px !important;
    background-color: $primary-color !important;
    color: $secondary-color !important;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 55%;
      background-color: rgba($secondary-color,0.7);
      border-radius: 60px;
      margin: 16px;
    }
  }
  &__get-more {
    margin: 8px;
  }

  &__no-user {
    color: $accent-color;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      margin-top: 30px;
      font-size: 30px;
    }
  }
}
