@import '../../styles/colors';
.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        width: 60%;
        margin: 16px;
        border-radius: 4px;
    }

    &__inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 550px;
      height: 350px;
      border-radius: 50px;
      background: url('../../assets/modal.jpg') no-repeat center center fixed;
      color: $secondary-color;
    }

    &__button{
      background-color: $primary-color !important;
      color: $secondary-color !important;
      margin-bottom: 8px !important;
    }
  }