@import '../../styles/root';

.app-auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__changer{
        cursor: pointer;
        margin: 12px;
        color: $accent-color;
    }
}