@import '../../styles/colors';

.app-homepage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  &__container{
      width: 95%;
      height: auto;
      padding: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      background-color: rgba($secondary-color,0.7);
  }

  &__image{
    width: 30%;
    max-width: 200px;
    height: 100%;
    max-height: 250px;
  }

  &__button {
    background-color: $primary-color !important;
    color: $secondary-color !important;
    margin-bottom: 8px !important;
  }
}
